<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>CADASTRO RECEPCIONISTA</title>

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

</head>
<body>
		<form action = "/recepcionista/salvar" method="POST">
	<br>
	<div  th:each = "Administrador : ${administrador}">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
				<a class="nav-link" th:href="@{/administrador/paginainicial/{ida}(ida=${Administrador.id})}">Sair <span class="sr-only">(current)</span></a>			      </li>
		    </ul>
		  </div>
		</nav>	
		<div class="card" style="width: 18rem;">
		  	<div class="card-body">
		    	<h5 class="card-title" >Administrador</h5>
		    	Identificacao
			    <div class="form-group row">
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="ida" name="ida" placeholder="ida" th:attr="value = ${Administrador.id}" readonly="true">
				    </div>
				</div>

		    </div>
	
		 </div>
		
		<br>
	<br>

	
	  <div class="form-group row">	  
		<label for="inputLogin" class="col-sm-1 col-form-label">Login</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="login" name="login" placeholder="Login">
	    </div>    
	  </div>

	  <div class="form-group row">
	    <label for="inputPassword" class="col-sm-1 col-form-label">Senha</label>
	    <div class="col-sm-10">
	      <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="inputNome" class="col-sm-1 col-form-label">Nome</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label for="inputTelefone" class="col-sm-1 col-form-label">Telefone</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="inputData" class="col-sm-1 col-form-label">Data de Nascimento</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="Data de Nascimento">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="inputEndereco" class="col-sm-1 col-form-label">Endereco</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereco">
	    </div>
	  </div>
	 
	  <div class="col-md-4 text-center"> 
   		 <button id="singlebutton" name="singlebutton" class="btn btn-primary" type = "submit">Cadastrar</button> 
	  </div>
	
	
		
	</div>
	
	</form>
	
		
		
 <script type="text/javascript">
    $("#dataNascimento").mask("00/00/0000");
    $("#telefone").mask("(00) 00000-0000");
 </script>
	
</body>
</html>