<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>CADASTRO PACIENTE</title>

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

</head>
<body>
	<form action = "/consulta/desejaMarcar" method="POST">
	
		<div  th:each = "Paciente : ${paciente}">
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		      		<a class="nav-link" th:href="@{/paciente/voltar/{idp}(idp=${Paciente.id})}">Sair <span class="sr-only">(current)</span></a>	
		      </li>
		    </ul>
		  </div>
		</nav>
	
	<br>	
	
	  <div class="form-group row">	  
		<label for="inputLogin" class="col-sm-1 col-form-label">Id do paciente</label>
	    <div class="col-sm-6">
	      <input type="number" class="form-control" id="idPaciente" name="idPaciente" placeholder="Id do Paciente" th:attr="value = ${Paciente.id}" readonly="true">
	    </div>    
	  </div>

	  <div class="form-group row">	  
		<label for="inputLogin" class="col-sm-1 col-form-label">Id do medico</label>
	    <div class="col-sm-10">
	      <input type="number" class="form-control" id="idMedico" name="idMedico" placeholder="Id do Medico">
	    </div>    
	  </div>
	  

	  <div class="form-group row">
	    <label for="inputData" class="col-sm-1 col-form-label">Data da consulta</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" id="data" name="data" placeholder="Data da consulta">
	    </div>
	  </div>
 	 
 	 <br>
	
	 <div class="col-md-4 text-center"> 
   		 <button id="singlebutton" name="singlebutton" class="btn btn-primary" type = "submit">Cadastrar</button> 
	 </div>
	 </div>
	</form>
		
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Id do Medico</th>
		      <th scope="col">Nome</th>
		      <th scope="col">CRM</th>
		      <th scope="col">Status</th>
		      <th scope="col">Endereco</th>
		      <th scope="col">Telefone</th>
		      <th scope="col">Especialidade</th>
		      <th scope="col">Data de Nascimento</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		    <tr  th:each = "Medico : ${listaMedicos}">
		      <td th:text="${Medico.id}"></td>
		      <td th:text="${Medico.nome}"></td>
		      <td th:text="${Medico.crm}"></td>
		      <td th:text="${Medico.status}"></td>
		      <td th:text="${Medico.endereco}"></td>
		      <td th:text="${Medico.telefone}"></td>
		      <td th:text="${Medico.especialidade}"></td>
		      <td th:text="${Medico.dataNascimento}"></td>
		      </tr>
		  </tbody>
		</table>
		

	 <script type="text/javascript">
    $("#data").mask("00/00/0000 00:00");
    $("#telefone").mask("(00) 00000-0000");
 </script>

	<script src="/js/bootstrap.min.js"></script>
</body>
</html>