<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>PAGINA RECEPCIONISTA</title>
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.mask.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
      		<a class="nav-link" th:href="@{/sistema/paginainicial}">Sair <span class="sr-only">(current)</span></a>	
      </li>
    </ul>
  </div>
</nav>
<div  th:each = "Recepcionista : ${recepcionista}">
	<form action = "/recepcionista/atualizar" method="POST">
	
		<div class="card" style="width: 18rem;">
		  	<div class="card-body">
		    	<h5 class="card-title" >Dados do Recepcionista</h5>
		    	Identificacao
			    <div class="form-group row">
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="idr" name="idr" placeholder="rid" th:attr="value = ${Recepcionista.id}" readonly="true">
				    </div>
				</div>
				Nome
			    <div class="form-group row">
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" th:attr="value = ${Recepcionista.nome}">
				    </div>
				</div>
				Endereco
			    <div class="form-group row">
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereco" th:attr="value = ${Recepcionista.endereco}">
				    </div>
				</div>
				Telefone
			    <div class="form-group row">
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" th:attr="value = ${Recepcionista.telefone}" required>
				    </div>
				</div>
				<div  th:each = "data : ${dataR}">
					Data de Nascimento
				    <div class="form-group row">
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="Data de Nascimento" th:attr="value = ${data}">
					    </div>
					</div>
				</div>

		  </div>
		 <div class="form-group row text-center">
		    <div class="col-sm-10">
 		 				<button id="singlebutton" name="singlebutton" class="btn btn-primary" type = "submit">Atualizar</button> 
		    </div>
		</div> 
	  </div>
	
 			
	  
	</form>
	<br>
	<a class="btn btn-primary" th:href="@{/paciente/cadastro/{id}(id=${Recepcionista.id})}">Cadastrar Paciente</a>
	
	<br>
	<table class="table">
	  <thead>
	    <tr >
	      <th scope="col">Id do Paciente</th>
	      <th scope="col">Nome</th>
	      <th scope="col">Status</th>
	      <th scope="col">Endereco</th>
	      <th scope="col">Telefone</th>
	      <th scope="col">Tipo Sanguineo</th>
	      <th scope="col">Observacoes</th>
	      <th scope="col">Historico do paciente</th>
	      <th scope="col">Data de Nascimento</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <tr th:each = "Paciente : ${listaPacientes}">
	      <td th:text="${Paciente.id}"></td>
	      <td th:text="${Paciente.nome}"></td>
	      <td th:text="${Paciente.status}"></td>
	      <td th:text="${Paciente.endereco}"></td>
	      <td th:text="${Paciente.telefone}"></td>
	      <td th:text="${Paciente.tipoSanguineo}"></td>
	      <td th:text="${Paciente.Observacoes}"></td>
	      <td th:text="${Paciente.historicoPaciente}"></td>
	      <td th:text="${Paciente.date}"></td>
	      <td><a class="btn btn-danger" th:href="@{/paciente/excluir/{ids}(ids=${Paciente.id+'-'+Recepcionista.id})}">Excluir</a></td>
      	  <td><a class="btn btn-primary" th:href="@{/paciente/ativar/{ids}(ids=${Paciente.id+'-'+Recepcionista.id})}">Ativar</a></td>
      	  <td><a class="btn btn-warning" th:href="@{/paciente/desativar/{ids}(ids=${Paciente.id+'-'+Recepcionista.id})}">Desativar</a></td>
	    </tr>
	  </tbody>
	</table>
	<br>
	<br>
	<a class="btn btn-primary" th:href="@{/medico/cadastro/{id}(id=${Recepcionista.id})}">Cadastrar Medico</a>
	<br>
	
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Id do Medico</th>
	      <th scope="col">Nome</th>
	      <th scope="col">CRM</th>
	      <th scope="col">Status</th>
	      <th scope="col">Endereco</th>
	      <th scope="col">Telefone</th>
	      <th scope="col">Especialidade</th>
	      <th scope="col">Data de Nascimento</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <tr  th:each = "Medico : ${listaMedicos}">
	      <td th:text="${Medico.id}"></td>
	      <td th:text="${Medico.nome}"></td>
	      <td th:text="${Medico.crm}"></td>
	      <td th:text="${Medico.status}"></td>
	      <td th:text="${Medico.endereco}"></td>
	      <td th:text="${Medico.telefone}"></td>
	      <td th:text="${Medico.especialidade}"></td>
	      <td th:text="${Medico.dataNascimento}"></td>
	      <td><a class="btn btn-danger" th:href="@{/medico/excluir/{ids}(ids=${Medico.id+'-'+Recepcionista.id})}">Excluir</a></td>
      	  <td><a class="btn btn-primary" th:href="@{/medico/ativar/{ids}(ids=${Medico.id+'-'+Recepcionista.id})}">Ativar</a></td>
      	  <td><a class="btn btn-warning" th:href="@{/medico/desativar/{ids}(ids=${Medico.id+'-'+Recepcionista.id})}">Desativar</a></td>
	    </tr>
	  </tbody>
	</table>
	
	<br>
	<br>
	<a class="btn btn-primary" th:href="@{/consulta/cadastro/{ids}(ids=${Recepcionista.id})}">Cadastrar Consulta</a>
	<br>
	<br>
	<h3>Consultas Marcadas</h3>
	<br>
	<br>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Id da Consulta</th>
	      <th scope="col">Id do Paciente</th>
	      <th scope="col">Id do Medico</th>
	      <th scope="col">Status</th>
	      <th scope="col">Observacoes</th>
	      <th scope="col">Data</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <tr  th:each = "Consulta : ${listaConsultasMarcadas}">
	      <td th:text="${Consulta.id}"></td>
	      <td th:text="${Consulta.paciente.id}"></td>
	      <td th:text="${Consulta.medico.id}"></td>
	      <td th:text="${Consulta.statusConsulta}"></td>
	      <td th:text="${Consulta.observacoes}"></td>
	      <td th:text="${Consulta.data}"></td>
	      <td><a class="btn btn-danger" th:href="@{/consulta/excluir/{ids}(ids=${Consulta.id+'-'+Recepcionista.id})}">Excluir</a></td>	      
	    </tr>
	  </tbody>
	</table>
	
	<br>
	<br>
	<h3>Consultas Realizadas</h3>
	<br>
	<br>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Id da Consulta</th>
	      <th scope="col">Id do Paciente</th>
	      <th scope="col">Id do Medico</th>
	      <th scope="col">Status</th>
	      <th scope="col">Observacoes</th>
	      <th scope="col">Data</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <tr  th:each = "Consulta : ${listaConsultasRealizadas}">
	      <td th:text="${Consulta.id}"></td>
	      <td th:text="${Consulta.paciente.id}"></td>
	      <td th:text="${Consulta.medico.id}"></td>
	      <td th:text="${Consulta.statusConsulta}"></td>
	      <td th:text="${Consulta.observacoes}"></td>
	      <td th:text="${Consulta.data}"></td>
	      <td><a class="btn btn-danger" th:href="@{/consulta/excluir/{ids}(ids=${Consulta.id+'-'+Recepcionista.id})}">Excluir</a></td>	      
	    </tr>
	  </tbody>
	</table>
	
	<br>
	<br>
	<h3>Consultas Canceladas</h3>
	<br>
	<br>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Id da Consulta</th>
	      <th scope="col">Id do Paciente</th>
	      <th scope="col">Id do Medico</th>
	      <th scope="col">Status</th>
	      <th scope="col">Observacoes</th>
	      <th scope="col">Data</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <tr  th:each = "Consulta : ${listaConsultasCanceladas}">
	      <td th:text="${Consulta.id}"></td>
	      <td th:text="${Consulta.paciente.id}"></td>
	      <td th:text="${Consulta.medico.id}"></td>
	      <td th:text="${Consulta.statusConsulta}"></td>
	      <td th:text="${Consulta.observacoes}"></td>
	      <td th:text="${Consulta.data}"></td>
	      <td><a class="btn btn-danger" th:href="@{/consulta/excluir/{ids}(ids=${Consulta.id+'-'+Recepcionista.id})}">Excluir</a></td>	      
	    </tr>
	  </tbody>
	</table>
	<br>
	<br>
	<h3>Consultas Indeferidas</h3>
	<br>
	<br>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Id da Consulta</th>
	      <th scope="col">Nome do medico</th>
	      <th scope="col">Especialidade do Medico</th>
	      <th scope="col">Status</th>
	      <th scope="col">Observacoes</th>
	      <th scope="col">Data</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <tr  th:each = "Consulta : ${listaConsultasIndeferidas}">
	      <td th:text="${Consulta.id}"></td>
	      <td th:text="${Consulta.medico.nome}"></td>
	      <td th:text="${Consulta.medico.especialidade}"></td>
	      <td th:text="${Consulta.statusConsulta}"></td>
	      <td th:text="${Consulta.observacoes}"></td>
	      <td th:text="${Consulta.data}"></td>
	      <td><a class="btn btn-primary" th:href="@{/recepcionista/marcar/{id}(id=${Consulta.id+'-'+Recepcionista.id})}">Marcar</a></td>	      
		  <td><a class="btn btn-danger" th:href="@{/consulta/excluir/{ids}(ids=${Consulta.id+'-'+Recepcionista.id})}">Desmarcar</a></td>	      
	    </tr>
	  </tbody>
	</table>
	
</div>

 <script type="text/javascript">
    $("#dataNascimento").mask("00/00/0000");
    $("#telefone").mask("(00) 00000-0000");
 </script>	
</body>
</html>